
<section class="py-2 text-center container">
<div class="row py-lg-1">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">Ahmad's Travel <img src="https://i.pinimg.com/280x280_RS/bd/be/16/bdbe1677459a92462e6b5026a0cac58f.jpg" class="img-thumbnail" alt="..." style="width:7%" ></h1>
    <p class="lead text-muted">A portfolio of the different states I've traveled to. Right now, its a short list. But here it has room to grow!</p>
  </div>
</div>
</section>

<div class="row">
  <% @posts.each do |post| %>
    <%= render post %>
    <% end %>
    </div>
